<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Create an event')">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Oxygen&display=swap" rel="stylesheet">
</head>
<body>

<!--<nav id="navigation" class="navbar sticky-top navbar-expand-lg navbar-light bg-white">-->
<!--    <img src="/img/S.C.A.N..png" class="navbar-brand m-0 p-0" id="navbar-brand" style="width: 200px; height: 75px">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
<!--        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/about">About Us</a>-->
<!--            </li>-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/events">Events</a>-->
<!--            </li>-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/albums">Albums</a>-->
<!--            </li>-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/contact">Contact</a>-->
<!--            </li>-->
<!--            <li class="nav-item" style="font-size: 1.2em">-->
<!--                <a class="nav-link" href="/donate">Donate</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<div sec:authorize="isAuthenticated()">
    <div th:if="${#authentication.principal.isAdmin()}">
        <div class="container">
            <h2 id="create-event-header" class="d-flex justify-content-center">Create an event</h2>
            <form th:action="@{/events/create}" th:method="post" th:object="${event}">
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInput">Title</label>
                        <input type="text" name="title" class="form-control" id="formGroupExampleInput" th:field="*{title}">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInput2">Location</label>
                        <input type="text" name="location" class="form-control" id="formGroupExampleInput2" th:field="*{location}">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label class="control-label">Event Time</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="dateTime" th:field="*{dateAndTime}"/>
                                <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInput4">Description</label>
                        <textarea rows="7" name="description" class="form-control" id="formGroupExampleInput4" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInput5">Link</label>
                        <input type="text" name="link" class="form-control" id="formGroupExampleInput5" th:field="*{link}">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInput6">Volunteer Goal</label>
                        <input type="text" name="volunteerGoal" class="form-control" id="formGroupExampleInput6" th:field="*{volunteerGoal}">
                    </div>
                </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary mb-2 mr-2">Create Event</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<section th:replace="fragments/section :: section"></section>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<br><br>
</body>
</html>