<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Events')"></head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Oxygen&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <h1 th:if="${noEventsFound}">No events found!</h1>
    <div class="container">
        <br><br><br>
        <header id="events-jumbotron" class="jumbotron my-4 d-none d-lg-block">
            <h1 id="events-header" class="display-3" style="font-style: italic">Upcoming Events</h1><br><br><br><br><br>
        </header>
        <p id="events-paragraph" class="lead d-flex jusitfy-content-center">S.C.A.N. members enjoy meetings, opportunities, and socialization. If you would like to attend an event then sign up! From there you can reserve a spot or even volunteer!</p>
        <div class="d-flex justify-content-center">
            <a href="/sign-up" class="join-us-button btn" style="font-size: 1em"><span class="px-5 py-2">JOIN US</span></a>
        </div>
        <br><hr><br>
        <div id="events-index-card" class="row d-flex justify-content-center text-center">
            <div class="col-lg-6 col-md-6 my-4" th:each="event : ${events}">
                <div class="card h-100 card-signin">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${event.title}"></h3>
                        <div class="card-subtitle mt-2" style="font-size: 1em;" th:text="${event.location}"></div>
                        <div class="card-text my-3" style="font-size: 1em;" th:text="${event.dateAndTime}"></div><hr>
                        <p class="card-text" th:text="${event.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi aperiam aspernatur consectetur, culpa doloribus ex inventore iusto laudantium molestias nesciunt quo, quos reprehenderit soluta temporibus ullam ut vero voluptates.</p>
                    </div>
                    <a th:href="${event.link}">
                        <p class="card-text my-3 px-2" th:text="${event.link}"></p>
                    </a>
                    <div class="card-footer" style="background-color: white" sec:authorize="isAuthenticated()">
                        <form th:action="${'/events/' + event.id}" th:method="GET">
                            <button class="join-us-button btn">View Event</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div th:if="${#authentication.principal.isAdmin()}">
                            <form class="my-2" th:action="${'/events/' + event.id + '/edit'}" th:method="GET">
                                <button class="btn btn-secondary">Edit Event</button>
                                <button th:form="${'delete-form' + event.id}" class="btn btn-danger">Delete Event</button>
                            </form>
                            <form th:id="${'delete-form' + event.id}" th:action="${'/events/' + event.id + '/delete'}" th:method="POST" sec:authorize="isAuthenticated()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${#authentication.principal.isAdmin()}">
                <div class="row justify-content-center">
                    <form th:action="${'/events/create'}" th:method="GET">
                        <button class="btn btn-secondary">Create Event</button>
                    </form>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <footer id="footer" class="py-5">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; S.C.A.N. 2020</p>
        </div>
    </footer>
    <section th:replace="fragments/section :: section"></section>
</body>
</html>