body {
    background-color: floralwhite;
}

.carousel {
    margin: auto;
    width: 40%;
    height: 40%;
}

.carousel-inner img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 50vh;
    height: 50vh;
    background: scroll center url('https://iili.io/dqmhDQ.jpg');
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.about-us-headers {
    font-family: 'Abril Fatface', cursive;
}

.nav-link {
    font-family: 'Baloo Da 2', Impact, serif;
    text-shadow: 4px 4px 4px #aaa;
}

.album-card {
    background: rgb(148,255,165);
    background: linear-gradient(0deg, rgba(148,255,165,0.6404936974789917) 4%, rgba(254,255,190,0.5844712885154062) 29%, rgba(255,255,255,1) 75%);
    font-family: 'Raleway', sans-serif;
}

.main-title {
    font-family: 'Raleway', sans-serif;
}

#footer {
    background-color: #00107d;
    color: floralwhite;
}

#events-jumbotron {
    background-image: url("/img/group-of-people-enjoying-music-concert-325521.jpg");
    background-size: cover;
}

#events-header {
    color: floralwhite;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    margin-top: -60px;
}

#events-paragraph {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.join-us-button {
    background-color: white;
    color: black;
    border: 2px solid #656565;
}

.join-us-button:hover {
    background-color: #656565;
    color: floralwhite;
}

#events-index-card {
    font-family: 'Montserrat', sans-serif;
}