<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Delete an album')"></head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Oxygen&display=swap" rel="stylesheet">

<body>
	<nav th:replace="fragments/navbar :: navbar" />

	<div class="container">
		<div sec:authorize="isAuthenticated()">
			<div th:if="${#authentication.principal.isAdmin()}">
				<h3 class="album-heading mt-3">Are you sure you want to delete this album?</h3>
				<form th:action="${'/albums/' + album.id + '/delete'}" th:method="POST">
					<button type="submit" class="btn btn-danger mb-2 album-subheading">Delete album</button>
				</form>
			</div>
		</div>
	</div>

	<section th:replace="fragments/section :: section"></section>

</body>
</html>