<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Albums')"></head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <h1 class="d-flex justify-content-center">Albums</h1>

    <form th:action="${'/albums/create'}" th:method="GET" sec:authorize="isAuthenticated()" class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-2 mr-2">Create an Album</button>
    </form>

<!--    Start of Regular View-->
<!--    <div th:each="album : ${albums}">-->
<!--        <h4 class="card-title d-flex justify-content-center">Album title: <span th:text="${album.title}" /></h4>-->
<!--        <h6 class="card-title d-flex justify-content-center">Album #<span th:text="${album.id}" /></h6>-->
<!--        <h6 class="card-title d-flex justify-content-center"><span th:text="${album.description}" /></h6>-->
<!--        <div th:each="photo : ${album.photos}" class="d-flex justify-content-center">-->
<!--            <img th:src="${photo.link}" style="width: 320px; height: 240px;">-->
<!--        </div>-->
<!--        <br>-->
<!--    </div>-->
<!--    <a th:href="${'/albums/photos/' + photo.id}">-->
<!--        <img th:src="${photo.link}" class="card-title" style="width: 16rem; height: 12rem;">-->
<!--    </a>-->


<!--    Start of Cards-->
<div class="d-flex justify-content-center flex-wrap">
    <div th:each="album : ${albums}">
        <div class="card mr-4">
            <a th:href="${'/albums/' + album.id}">
                <img th:src="${album.photos[0].link}" class="card-img-top" style="width: 286px; height: 202px;">
            </a>
            <div class="card-body">
                <p class="card-text"><span th:text="${album.title}" class="d-flex justify-content-center"/></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>


    <footer th:replace="fragments/footer :: footer"></footer>
    <section th:replace="fragments/section :: section"></section>
</body>
</html>