<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('View a photo')"></head>
<body class="album-body">
<nav th:replace="fragments/navbar :: navbar"></nav>

<h1 class="d-flex justify-content-center">Photo</h1>

<div class="container d-flex justify-content-center">
	<div class="card border-0">
		<div class="card-body album-card">
			<img th:src="${photo.link}" class="card-title" style="width: 16rem; height: 12rem;">
			<p th:text="${photo.description}" class="card-text">Description</p>
			<p class="card-text">From album: <span th:text="${photo.album.title}" /></p>

			<div sec:authorize="isAuthenticated()">
				<div th:if="${#authentication.principal.isAdmin()}">
					<form th:action="${'/albums/' + albumid + '/photos/' + photo.id + '/edit'}" th:method="GET">
						<button type="submit" class="btn btn-outline-secondary mb-2 mr-2">Edit</button>
					</form>

					<form th:action="${'/albums/' + albumid + '/photos/' + photo.id + '/delete'}" th:method="GET">
						<button type="submit" class="btn btn-outline-danger mb-2 mr-2">Delete</button>
					</form>
				</div>
			</div>

			<a th:href="${'/albums/photos'}">Go to all Photos</a>
			<br>
			<br>
		</div>
	</div>
</div>

<section th:replace="fragments/section :: section"></section>
</body>
</html>