<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('View a photo')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<h1 class="d-flex justify-content-center main-title">Photo</h1>

<div class="container d-flex justify-content-center">
	<div class="card border-0">
		<div class="card-body album-card">
			<div class="card-text">From album: <span th:text="${photo.album.title}" /></div>
			<img th:src="${photo.link}" class="card-title" style="width: 16rem; height: 12rem;">
			<p th:text="${photo.description}" class="card-text text-center my-3 px-2">Description</p>
			<div class="row justify-content-center" sec:authorize="isAuthenticated()">
				<div th:if="${#authentication.principal.isAdmin()}">
					<form th:action="${'/albums/' + albumid + '/photos/' + photo.id + '/edit'}" th:method="GET">
						<button type="submit" class="btn btn-secondary mb-2 mr-2">Edit</button>
						<button form="delete-form" type="submit" class="btn btn-danger mb-2 mr-2">Delete</button>
					</form>
					<form id="delete-form" th:action="${'/albums/' + albumid + '/photos/' + photo.id + '/delete'}" th:method="GET">
					</form>
				</div>
			</div>
			<div class="text-center">
			<a th:href="${'/albums/photos'}">Go to all Photos</a>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>

<section th:replace="fragments/section :: section"></section>
</body>
</html>