<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Photos')"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<h1 class="d-flex justify-content-center">Photos</h1>

	<div class="container d-flex flex-wrap justify-content-center">
		<div th:each="photo : ${photos}">
			<div class="card border-white">
				<div class="card-body">
					<a th:href="${'/albums/photos/' + photo.id}">
						<img th:src="${photo.link}" class="card-title" style="width: 16rem; height: 12rem;">
					</a>
				</div>
			</div>
		</div>
	</div>
<!--	this is temporary-->
	<div>
		<a class="d-flex justify-content-center" href="/albums/photos/create">Create a Photo</a>
	</div>
	<br>
	<br>

	<footer th:replace="fragments/footer :: footer"></footer>
	<section th:replace="fragments/section :: section"></section>
</body>
</html>