<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Album</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Oxygen&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<h1 class="d-flex justify-content-center album-heading mt-3">Album</h1>

	<!--	lightbox gallery-->
	<h4 class="d-flex justify-content-center album-subheading">Album title: <span th:text="${album.title}" class="ml-1 d-flex justify-content-center"/></h4>
	<p class="d-flex justify-content-center album-subheading"> <span th:text="${album.description}" /></p>
	<div class="photo-gallery d-flex justify-content-center">
		<div class="container d-flex justify-content-center">
			<div class="row photos d-flex justify-content-center">
				<div th:each="photo : ${album.photos}" class="col-sm-6 col-md-4 col-lg-3 item">
					<a th:href="${photo.link}" data-lightbox="photos" class="d-flex justify-content-center">
						<img th:src="${photo.link}" class="img-fluid" style="width: 16rem; height: 12rem;">
					</a>
					<a th:href="${'/albums/' + album.id + '/photos/' + photo.id}"><p th:text="${photo.description}" class="d-flex justify-content-center album-subheading"/></a>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="isAuthenticated()" class="d-flex justify-content-center">
		<div th:if="${#authentication.principal.isAdmin()}">
			<form th:action="${'/albums/' + albumId + '/photos/create/'}" th:method="GET">
				<button type="submit" class="join-us-button btn btn-secondary mb-2">ADD A PHOTO</button>
			</form>
		</div>
	</div>

	<div sec:authorize="isAuthenticated()" class="d-flex justify-content-center">
		<div th:if="${#authentication.principal.isAdmin()}">
			<form th:action="${'/albums/' + albumId + '/edit'}" th:method="GET">
				<button type="submit" class="album-create btn btn-secondary mb-2 mr-2">Edit Album</button>
			</form>
		</div>
	</div>

	<div sec:authorize="isAuthenticated()" class="d-flex justify-content-center">
		<div th:if="${#authentication.principal.isAdmin()}">
			<form th:action="${'/albums/' + albumId + '/delete'}" th:method="GET">
				<button type="submit" class="album-create btn btn-danger mb-2 mr-2">Delete Album</button>
			</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>


	<a th:href="${'/albums'}" class="d-flex justify-content-center">Back to all Albums</a>

	<br>
	<br>
	<br>
	<br>


	<footer id="footer" class="py-3">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; S.C.A.N. 2020</p>
		</div>
	</footer>

	<section th:replace="fragments/section :: section"></section>
</body>
</html>