<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<nav th:fragment="navbar" id="navigation" class="navbar sticky-top navbar-expand-lg">
    <a href="/"><img src="/img/S.C.A.N..png" class="navbar-brand m-0 p-0" id="navbar-brand" style="width: 150px; height: 55px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-1 mr-3  mt-lg-0">
            <li class="nav-item mr-3">
                <a class="nav-link" href="/events">EVENTS</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/albums">ALBUMS</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/donate">DONATE</a>
            </li>
            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <form th:action="@{/sign-up}" th:method="get" class="form-inline my-2 mr-3 my-lg-0">
                        <button id="sign-up-button" class="btn btn-outline-light">Sign Up</button>
                    </form>
                </li>
                <form th:action="@{/login}" th:method="get" class="form-inline my-2 my-lg-0">
                    <button id="login-button" class="btn btn-outline-light">Login</button>
                </form>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form th:action="@{/dashboard}" th:method="get" class="form-inline my-2 mr-3 my-lg-0">
                        <button class="btn btn-outline-light">User Dashboard</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-light">Logout</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </div>
</nav>
</html>