<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('User Dashboard')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>Welcome, <span th:text="${currentUser.username}"></span></h1>
<p>Email: <span th:text="${currentUser.email}"></span> </p>
<!--<form>-->
<!--    <button type="submit" class="btn btn-primary"> Update Email </button>-->
<!--</form>-->

    <h3>Events You've RSVP'd to</h3>
    <div th:each="userEvent_rsvp : ${usersEvents}" th:if="${!userEvent_rsvp.isVolunteer()}">
        <h5>RSVPed Event: <span th:text="${userEvent_rsvp.getEvent().title}"></span></h5>
        <h5>Event Description: <span th:text="${userEvent_rsvp.getEvent().description}"></span></h5>
        <h5>Event Location:  <span th:text="${userEvent_rsvp.getEvent().location}"></span></h5>
        <h5>Event Date and Time: <span th:text="${userEvent_rsvp.getEvent().dateAndTime}"></span></h5>
        <form id="delete-form" class="" th:action="${'/events/' + userEvent_rsvp.getId() + '/deleteUserEvent'}" th:method="POST">
            <button form="delete-form" class="btn btn-danger">Remove RSVP</button>
        </form>
        <form th:action="${'/events/' + userEvent_rsvp.getEvent().getId()}" th:method="GET">
            <button class="btn-primary">View Event Details</button>
        </form>

</div>
<br>
<h3>Events You've volunteered for</h3>
<div th:each="userEvent_volunteer : ${usersEvents}" th:if="${userEvent_volunteer.isVolunteer()}">
    <h5>Event Title: <span th:text="${userEvent_volunteer.getEvent().getTitle()}"></span></h5>
    <h5>Event Description: <span th:text="${userEvent_volunteer.getEvent().description}"></span></h5>
    <h5>Event Location:  <span th:text="${userEvent_volunteer.getEvent().location}"></span></h5>
    <h5>Event Date and Time: <span th:text="${userEvent_volunteer.getEvent().dateAndTime}"></span></h5>
    <form th:action="${'/events/' + userEvent_volunteer.getId() + '/deleteUserEvent'}" th:method="POST">
        <button form="delete-form" class="btn btn-danger">Remove Volunteer</button>
    </form>
    <form th:action="${'/events/' + userEvent_volunteer.getEvent().getId()}" th:method="GET">
        <button class="btn-primary">View Event Details</button>
    </form>
</div>


<!--Commented out this block because it was covering the last "view event details" button -->
<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
</html>