<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('User Dashboard')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--<h1 class="d-flex justify-content-center">Welcome, <span th:text="${currentUser.username}"></span></h1>-->
<h3 class="d-flex justify-content-center mt-5">RSVP</h3>
<h1 class="d-flex justify-content-center" th:if="${noEventsFound}">No events found for <span style="padding-left:9px" th:text="${currentUser.username}"></span>!</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xl-5 m-0">
            <div th:each="userEvent_rsvp : ${usersEvents}" th:if="${!userEvent_rsvp.isVolunteer()}">
            <div class="card card-signin my-5">
                <div class="card-body text-center">
                        <div class="card-header" th:text="${userEvent_rsvp.getEvent().title}"></div>
                        <div class="card-subtitle mt-3" th:text="${userEvent_rsvp.getEvent().dateAndTime}"></div><hr>
                        <div class="card-subtitle mt-3" th:text="${userEvent_rsvp.getEvent().location}"></div><hr>
                        <div class="card-text my-3 px-2" th:text="${userEvent_rsvp.getEvent().description}"></div>
                        <form id="remove-rsvp-form" class="mt-3" th:action="${'/events/' + userEvent_rsvp.getId() + '/deleteUserEvent'}" th:method="POST">
                            <button form="view-event" class="btn btn-secondary mr-3">View Event Details</button>
                            <button form="remove-rsvp-form" class="btn btn-danger">Remove RSVP</button>
                        </form>
                        <form id="view-event" th:action="${'/events/' + userEvent_rsvp.getEvent().getId()}" th:method="GET"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="d-flex justify-content-center mt-5">Volunteered</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xl-5 m-0">
            <div th:each="userEvent_volunteer : ${usersEvents}" th:if="${userEvent_volunteer.isVolunteer()}">
            <div class="card card-signin my-5">
                <div class="card-body text-center">
                        <div class="card-header" th:text="${userEvent_volunteer.getEvent().getTitle()}"></div>
                        <div class="card-subtitle mt-3" th:text="${userEvent_volunteer.getEvent().dateAndTime}"></div><hr>
                        <div class="card-subtitle mt-3" th:text="${userEvent_volunteer.getEvent().location}"></div><hr>
                        <div class="card-text my-3 px-2" th:text="${userEvent_volunteer.getEvent().description}"></div>
                        <form id='remove-volunteer-form' th:action="${'/events/' + userEvent_volunteer.getId() + '/deleteUserEvent'}" th:method="POST">
                            <button form="view-event2" class="btn btn-secondary mr-3">View Event Details</button>
                            <button form="remove-volunteer-form" class="btn btn-danger">Remove Volunteer</button>
                        </form>
                        <form id="view-event2" th:action="${'/events/' + userEvent_volunteer.getEvent().getId()}" th:method="GET"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section th:replace="fragments/section :: section"></section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>