<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sign Up')">
	<meta charset="UTF-8" />
	<title>Sign up</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-10 col-xl-9 mx-auto">
			<div class="card card-signin flex-row my-5">
				<div class="card-img-left d-none d-md-flex">
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Sign Up</h5>
					<form class="form-signin" th:action="@{/sign-up}" method="POST" th:object="${user}">
						<div class="form-label-group">
							<input type="text" id="username" name="username" class="form-control" th:classappend="validate" th:field="*{username}" required autofocus>
							<label for="username">Username</label>
							<small class="form-text text-center" style="color: #ff7669" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>

						<div class="form-label-group">
							<input type="email" id="email" class="form-control" th:classappend="validate" th:field="*{email}" required>
							<label for="email">Email address</label>
							<small id="emailHelp" class="form-text text-center" style="color: #ff7669" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>

						<hr>

						<div class="form-label-group">
							<input type="password" id="password" class="form-control" th:classappend="validate" th:field="*{password}" required/>
							<label for="password">Password</label>
						</div>

						<div class="form-label-group">
							<input id="passwordToConfirm" name="passwordToConfirm" type="password" class="form-control" required/>
							<label for="passwordToConfirm">Re-Enter Password</label>
							<small class="form-text text-center" style="color: #ff7669" th:if="${#fields.hasErrors('password')}" th:classappend="validate" th:errors="*{password}"></small>
						</div>

						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
						<a class="d-block text-center mt-2 small" href="login">Login</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
</html>