<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sign Up')">
	<meta charset="UTF-8" />
	<title>Sign up</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-xl-9 mx-auto">
			<div class="card card-signin flex-row my-5">
				<div class="card-img-left d-none d-md-flex">
					<!-- Background image for card set in CSS! -->
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Register</h5>
					<form class="form-signin" th:action="@{/sign-up}" method="POST" th:object="${user}">
						<div class="form-label-group">
							<input type="text" id="username" name="username" class="form-control" th:classappend="validate" th:field="*{username}" required autofocus>
							<label for="username">Username</label>
							<small class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>

						<div class="form-label-group">
							<input type="email" id="email" class="form-control" th:classappend="validate" th:field="*{email}" required>
							<label for="email">Email address</label>
							<small id="emailHelp" class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>

						<hr>

						<div class="form-label-group">
							<input type="password" id="password" class="form-control" th:classappend="validate" th:field="*{password}" required/>
							<label for="password">Password</label>
						</div>

						<div class="form-label-group">
							<input id="passwordToConfirm" name="passwordToConfirm" type="password" class="form-control" required/>
							<label for="passwordToConfirm">Re-Enter Password</label>
							<small class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('password')}" th:classappend="validate" th:errors="*{password}"></small>
						</div>

						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
						<a class="d-block text-center mt-2 small" href="#">Sign In</a>
<!--						<hr class="my-4">-->
<!--						<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>-->
<!--						<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>-->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
<!--<nav th:replace="fragments/navbar :: navbar"></nav>-->

<!--<h1 class="d-flex justify-content-center my-5">Create an account</h1>-->
<!--<form th:action="@{/sign-up}" method="POST" th:object="${user}">-->
<!--	<div class="row">-->
<!--		<div class="col-md-4 mx-auto">-->
<!--			<div class="form-group">-->
<!--				<label for="username">Username</label>-->
<!--				<input id="username" class="form-control" name="username" th:class="validate" th:field="*{username}" />-->
<!--				<small class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>-->
<!--			</div>-->
<!--			<div class="form-group">-->
<!--				<label for="email">Email</label>-->
<!--				<input type="email" id="email" class="form-control" th:class="validate" th:field="*{email}" />-->
<!--				<small id="emailHelp" class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--			</div>-->
<!--			<div class="form-group">-->
<!--				<label for="password">Password</label>-->
<!--				<input id="password" class="form-control" name="password" type="password" th:class="validate" th:field="*{password}" />-->
<!--			</div>-->
<!--			<div class="form-group">-->
<!--				<label for="passwordToConfirm">Re-Enter Password</label>-->
<!--				<input id="passwordToConfirm" name="passwordToConfirm" type="password" />-->
<!--				<small class="form-text" style="color: #ff7669" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>-->
<!--			</div>-->
<!--			<button type="submit" class="btn btn-secondary">Sign me up!</button>-->
<!--		</div>-->
<!--	</div>-->
<!--</form>-->

<!--<footer th:replace="fragments/footer :: footer"></footer>-->
<!--<section th:replace="fragments/section :: section"></section>-->
<!--</body>-->
</html>