<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('User Dashboard')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>Welcome, <span th:text="${currentUser.username}"></span></h1>
<p>Email: <span th:text="${currentUser.email}"></span> </p>
<form>
    <button type="submit" class="btn btn-primary"> Update Email </button>
</form>

    <h5>Events You've RSVP'd to</h5>
    <div th:each="userevent_rsvp : ${usersEvents}">
        <h5>RSVP'd Event: <span th:text="${userevent_rsvp.getEvent().title}"></span></h5>
    <form><button>Remove Event</button></form>
    <form><button>View Event</button></form>
</div>
<br>
<h3>Events You've volunteered for</h3>
<div th:each="userEvent : ${usersEvents}">
    <h5>Event Title: <span th:text="${userEvent.getEvent().getTitle()}"></span></h5>
    <h5>Event Description: <span th:text="${userEvent.getEvent().description}"></span></h5>
    <h5>Event Location:  <span th:text="${userEvent.getEvent().location}"></span></h5>
    <h5>Event Date and Time: <span th:text="${userEvent.getEvent().dateAndTime}"></span></h5>
<!--    <form th:action=""><button>Remove Event</button></form>-->
    <a><button>View Event</button></a>
</div>



<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
</html>