<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>Welcome, <span th:text="${username}"></span></h1>
<p>Email: <span th:text="${post.user.email}"></span> </p>
<form>
    <button type="submit" class="btn btn-primary"> Update Email </button>
</form>
<div th:each="event : ${events}">
    <p>Events You've RSVP'd to</p>
    <form><button>Remove Event</button></form>
    <form><button>View Event</button></form>
</div>
<div th:each="event : ${events}">
    <p>Events You've volunteered for</p>
    <form><button>Remove Event</button></form>
    <form><button>View Event</button></form>
</div>



<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
</html>