<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')"></head>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/80d86ae958.js"></script>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<br><br>
<div class="row d-flex justify-content-center">
<div class="card card-signin col-md-2 col-sm-2 mt-5 mx-4">
    <img src="/img/Tyler%20Trudgeon%20Photo.jpg" class="mt-3 rounded" alt="..."  style="height: 60% ;width:100%;">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center" style="font-weight: bold; font-size: 1.1em; text-shadow: 1px 1px 1px #aaa;">Tyler Trudgeon</h5>
        <div class="caption d-flex justify-content-center"> <a href="https://github.com/tylertrudgeon"><i class="fa fa-github fa-2x mr-3" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/tylertrudgeon/"><i class="fa fa-linkedin-square fa-2x mx-3" aria-hidden="true"></i></a><a href="https://alumni.codeup.com/students/829"><i class="fa fa-terminal fa-2x ml-3" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="card card-signin col-md-2 col-sm-2 mt-5 mx-4">
    <img src="/img/Sarah_Nainggolan_Headshot.jpg" class="mt-3 rounded" alt="..."  style="height: 60% ;width:100%;">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center" style="font-weight: bold; font-size: 1.1em; text-shadow: 1px 1px 1px #aaa;">Sarah Nainggolan</h5>
        <div class="caption d-flex justify-content-center"> <a href="https://github.com/sarahlia"><i class="fa fa-github fa-2x mr-3" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/sarah-nainggolan/"><i class="fa fa-linkedin-square fa-2x mx-3" aria-hidden="true"></i></a><a href="https://alumni.codeup.com/students/834"><i class="fa fa-terminal fa-2x ml-3" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="card card-signin col-md-2 col-sm-2 mt-5 mx-4">
    <img src="/img/Professional-headshot.jpeg" class="mt-3 rounded" alt="..." style="height: 60% ;width:100%;">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center" style="font-weight: bold; font-size: 1.1em; text-shadow: 1px 1px 1px #aaa;">Rex Sutton</h5>
        <div class="caption d-flex justify-content-center"> <a href="https://github.com/rexnsutton"><i class="fa fa-github fa-2x mr-3" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/rex-sutton/"><i class="fa fa-linkedin-square fa-2x mx-3" aria-hidden="true"></i></a><a href="https://alumni.codeup.com/students/822"><i class="fa fa-terminal fa-2x ml-3" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="card card-signin col-md-2 col-sm-2 mt-5 mx-4">
    <img src="/img/DSC00192.jpg" class="mt-3 rounded" alt="..." style="height: 60% ;width:100%;">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center" style="font-weight: bold; font-size: 1.1em; text-shadow: 1px 1px 1px #aaa;">Ramon Hubbell</h5>
        <div class="caption d-flex justify-content-center"> <a href="https://github.com/ramonhubbell"><i class="fa fa-github fa-2x mr-3" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/ramon-hubbell/"><i class="fa fa-linkedin-square fa-2x mx-3" aria-hidden="true"></i></a><a href="https://alumni.codeup.com/students/830"><i class="fa fa-terminal fa-2x ml-3" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
</div>
<section th:replace="fragments/section :: section"></section>
<br><br><br><br><br><br>
</body>
</html>