<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<head th:replace="fragments/head :: head('Thanks for reaching out!')"></head>
<head>
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
</head>


<body class="contact-done masthead">
	<div class="container">
		<div class="masthead-subheading">Thanks for your interest!</div>
		<div class="masthead-heading text-uppercase">We will contact you soon.</div>
		<a class="btn btn-warning btn-xl text-uppercase" href="/">Go Back To Main Page</a>
	</div>
</body>


</html>