<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Donate')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1 class="d-flex justify-content-center">Donate</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat libero perferendis quo voluptates! Accusantium harum libero numquam obcaecati! Ea iste iure magnam nulla officia quaerat, quasi quisquam repudiandae soluta?</h1>

<footer th:replace="fragments/footer :: footer"></footer>
<section th:replace="fragments/section :: section"></section>
</body>
</html>